.profile {
    max-width: 400px;
    text-align: center;
    color: white;
    background-color: black;
    background-position: center;
    width: 80%;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
}

input {
    margin-bottom: 20px;
    text-align: center;
    background-color:#D50032;
    color: white;
    border: 0px;
    height: 30px;
    border-radius: 30px;
}

#change-btn {
    background-color:#D50032;
    border: 4px solid #D50032;
    color: white;
}

.dp {
    max-height: 50px;
}